# Banking and Unemployment
---
The below script explores the relationship between states with high unemployment rates and bank counts per state.

In this script, we retrieved and plotted data from the 2013 US Census and Google Places API to show the relationship between various socioeconomic parameters and bank count across 700 randomly selected zip codes. We used Pandas, Numpy, Matplotlib, Requests, Census API, and Google API to accomplish our task.

In [13]:
# Dependencies
from census import Census
from config import (census_key, gkey)
import gmaps
import numpy as np
import pandas as pd
import requests
import time
from us import states


# Census API Key
c = Census(census_key, year=2013)

## Data Retrieval

In [14]:
# Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
# See: https://github.com/CommerceDataService/census-wrapper for library documentation
# See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_data = c.acs5.get(("B01003_001E", "B23025_005E"), {
                         'for': 'zip code tabulation area:*'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B23025_005E": "Unemployment Count",
                                      "zip code tabulation area": "Zipcode"})

# Add in Employment Rate (Employment Count / Population)
census_pd["Unemployment Rate"] = 100 * \
    census_pd["Unemployment Count"].astype(
        int) / census_pd["Population"].astype(int)

# Final DataFrame
census_pd = census_pd[["Zipcode", "Population", "Unemployment Rate"]]

# Visualize
print(len(census_pd))
census_pd.head()

33120

  Zipcode  Population  Unemployment Rate
0   00601     18450.0           7.934959
1   00602     41302.0          11.541814
2   00603     53683.0           8.086359
3   00606      6591.0           2.033075
4   00610     28963.0           3.915340

## Combine Data

In [15]:
# Import the original data we analyzed earlier. Use dtype="object" to match other
census_data_original = pd.read_csv(
    "../Resources/zip_bank_data.csv", dtype="object", encoding="utf-8")

# Visualize
census_data_original.head()

,Zipcode,Address,Population,Median Age,Household Income,Per Capita Income,Poverty Rate,Lat,Lng,Bank Count
0,49058,"Hastings, MI 49058, USA",19031,40.8,46777,22137,13.18375282,42.6306916,-85.2929384,9
1,71405,"Ball, LA 71405, USA",5687,35.8,55242,23941,15.73764727,31.4061799,-92.396174,12
2,20634,"Great Mills, MD 20634, USA",6562,31.9,79944,35961,9.295946358,38.2201614,-76.4967919,9
3,38487,"Williamsport, TN 38487, USA",762,41.6,38125,18884,24.40944882,35.7310368,-87.2419299,0
4,58466,"Marion, ND 58466, USA",509,44.5,69844,36981,9.430255403,46.5594224,-98.3481542,1

In [16]:
# Merge the two data sets along zip code
census_data_complete = pd.merge(
    census_data_original, census_pd, how="left", on=["Zipcode", "Zipcode"])

# Save the revised Data Frame as a csv
census_data_complete.to_csv(
    "../Resources/bank_data_with_employment.csv", encoding="utf-8", index=False)

# Visualize
census_data_complete.head()

,Zipcode,Address,Population_x,Median Age,Household Income,Per Capita Income,Poverty Rate,Lat,Lng,Bank Count,Population_y,Unemployment Rate
0,49058,"Hastings, MI 49058, USA",19031,40.8,46777,22137,13.18375282,42.6306916,-85.2929384,9,19031.0,5.312385
1,71405,"Ball, LA 71405, USA",5687,35.8,55242,23941,15.73764727,31.4061799,-92.396174,12,5687.0,4.571830
2,20634,"Great Mills, MD 20634, USA",6562,31.9,79944,35961,9.295946358,38.2201614,-76.4967919,9,6562.0,4.053642
3,38487,"Williamsport, TN 38487, USA",762,41.6,38125,18884,24.40944882,35.7310368,-87.2419299,0,762.0,10.236220
4,58466,"Marion, ND 58466, USA",509,44.5,69844,36981,9.430255403,46.5594224,-98.3481542,1,509.0,1.178782

## Heatmap of poverty rate

In [18]:
# Configure gmaps with API key
gmaps.configure(api_key=gkey)

In [19]:
# Store 'Lat' and 'Lng' into  locations 
locations = census_data_complete[["Lat", "Lng"]].astype(float)
print(locations)
# Convert Poverty Rate to float and store
# HINT: be sure to handle NaN values
poverty_rate = census_data_complete["Poverty Rate"].astype(float)
print(poverty_rate)

           Lat         Lng
0    42.630692  -85.292938
1    31.406180  -92.396174
2    38.220161  -76.496792
3    35.731037  -87.241930
4    46.559422  -98.348154
5    39.564892 -115.994099
6    38.979335  -96.004412
7    36.915294 -120.205110
8    34.485433 -117.420397
9    42.446414  -85.581791
10   42.990239  -88.498499
11   42.662874  -78.690926
12   31.269297  -92.046915
13   42.010529  -87.692626
14   39.900841  -85.961108
15   34.335049 -116.537392
16   41.312980  -86.032563
17   47.079517 -116.384577
18   40.907107  -73.821321
19   40.072034  -94.665703
20   40.348083  -81.438886
21   32.037114  -81.174750
22   36.333802  -81.130639
23   38.497733  -90.843688
24   40.036199  -92.947566
25   40.638523  -74.015323
26   32.075509  -87.766493
27   36.211921  -81.526728
28   42.874922  -88.614484
29   33.974291 -118.352039
..         ...         ...
670  46.953982 -113.912010
671  30.225199  -93.359331
672  38.631723  -77.252010
673  41.643113  -74.448166
674  39.697014  -76.722108
675  42.965244  -84.919308
676  46.961432    8.575330
677  34.703268 -105.453672
678  43.232059  -78.906192
679  40.904810 -122.022968
680  37.049552  -83.116644
681  33.604745  -87.042439
682  40.803832 -112.023790
683  44.906136  -93.288545
684  31.187032 -101.911987
685  41.570191  -77.125506
686  35.519887  -95.751349
687  39.452936  -77.968154
688  42.958024  -90.848452
689  35.778109  -93.067637
690  37.706041  -86.962409
691  45.721701  -88.380087
692  37.650282  -75.838870
693  38.303523  -85.008545
694  64.942491 -161.127581
695  40.594001  -78.486560
696  37.359828 -121.981435
697  45.167063  -93.313262
698  30.689776  -96.899450
699  43.093953  -78.962762

[700 rows x 2 columns]
0      13.183753
1      15.737647
2       9.295946
3      24.409449
4       9.430255
5      14.871117
6       2.425222
7      20.051833
8      19.854464
9      11.975166
10      3.214680
11      6.728111
12     24.613555
13     18.419201
14      4.747537
15     37.604965
16     13.341204
17      8.934338
18     15.260232
19     11.692308
20      9.050610
21     18.362330
22     23.571429
23      4.703161
24      0.000000
25     30.768559
26     33.200456
27      9.780866
28      9.790439
29     18.772540
         ...
670    22.299399
671     6.517910
672    10.414949
673    27.464789
674     3.811590
675     8.182912
676     7.786150
677    10.256410
678     9.440706
679    16.694772
680    17.984496
681    17.865031
682    21.272413
683     8.075947
684    10.444444
685    15.059347
686    17.358491
687    27.203576
688    29.299363
689     9.280303
690     4.976911
691    11.711712
692     0.000000
693     2.181818
694    53.763441
695    14.481898
696     6.865217
697     9.972372
698    17.528736
699    11.232140
Name: Poverty Rate, Length: 700, dtype: float64

In [20]:
# Create a poverty Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=poverty_rate, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

# Adjust heat_layer setting to help with heatmap dissipating on zoom
#heat_layer.dissipating = False
#heat_layer.max_intensity = 100
#heat_layer.point_radius = 1

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

![Heatmap](../Images/heatmap.png)

In [21]:
# Convert bank rate to list
bank_rate = census_data_complete["Bank Count"].tolist()

In [22]:
# Create bank symbol layer
bank_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
    info_box_content=[f"Bank amount: {bank}" for bank in bank_rate]
)


fig = gmaps.figure()
fig.add_layer(bank_layer)

fig

Figure(layout=FigureLayout(height='420px'))

![Bank Map](../Images/bank_map.png)

In [23]:
# Create a combined map
fig = gmaps.figure()

fig.add_layer(heat_layer)
fig.add_layer(bank_layer)

fig

Figure(layout=FigureLayout(height='420px'))

![Combined Map](../Images/final_map.png)